<p id="notice"><%= notice %></p>

<h1>Cricket Scoring 2016</h1>

<ol>
<li><%= link_to 'View or Create Teams', teams_path %></li>
<li><%= link_to 'View or Create Players', players_path %></li>
<li><%= link_to 'View or Create Matches and Scoreboards', matches_path %></li>

</ol>